server {
    listen {{ amp.external_ip }}:{{ amp.external_port }} ssl;
    server_name {{ amp.server_name }};

    server_tokens off;

    ssl_certificate {{ amp.cert_path }};
    ssl_certificate_key {{ amp.key_path }};

    client_max_body_size 20M;

    location / {
        proxy_pass http://127.0.0.1:{{ amp.localhost_port }};  # Or whatever local IP and port ADS is listening on
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        Upgrade $http_upgrade;
        proxy_set_header        Connection "Upgrade";
        proxy_set_header        X-AMP-Scheme $scheme;
        proxy_read_timeout      86400s;
        proxy_send_timeout      86400s;
        proxy_http_version      1.1;
        proxy_redirect          off;
        proxy_buffering         off;
        client_max_body_size    10240M;

        # The following five lines will only work if nginx and AMP are on the same host
        error_page 502 /NotRunning.html;
        location = /NotRunning.html {
            root {{ amp_directory }}shared/WebRoot;
            internal;
                }
        }
}
