# Enforce HTTPS
server {
    listen {{ external_ip }}:80;

    server_name {{ server_name }};

    return 301 https://$host$request_uri;

}


server {
    listen {{ external_ip }}:443 ssl;

    server_name {{ server_name }};

    server_tokens off;

    ssl_certificate {{ cert_path }};
    ssl_certificate_key {{ key_path }};

    # Redirect to main page
    location / {
      return 301 {{ site_url }};
    }

    error_page 404 /;

# Rewrite rules
{% for rewrite in rewrites %}
    # Rewrite {{ rewrite.source }} to {{ rewrite.destination }}
    rewrite {{ rewrite.source }} {{ rewrite.destination }} {{ rewrite.flags }};
{% endfor %}

# For stuff like bluemap and the radio UI
{% for proxy in location_proxies %}
    # Proxy {{ proxy.location }} to {{ proxy.proxy_pass }}
    location {{ proxy.location }} {
        proxy_pass {{ proxy.proxy_pass }};
        # Misc options to pass through client options, good practice so the web server receives proper information
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   Host              $http_host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
{% for line in proxy.extra_lines %}
        {{ line }}
{% endfor %}
    }
{% endfor %}
}
