server {
    listen {{ sc_external_ip }}:{{ sc_external_port }} ssl;
    server_name {{ sc_server_name }};
server_tokens off;
    ssl_certificate {{ sc_cert_path }};
    ssl_certificate_key {{ sc_key_path }};

client_max_body_size 20M;
location / {
    proxy_pass http://127.0.0.1:{{ sc_localhost_port }}/;
    proxy_set_header        Host $host;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        Upgrade $http_upgrade;
    proxy_set_header        Connection "Upgrade";
    }
}
